// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace (+str-replace(str-slice($string, $index + str-length($search)), $search, $replace));
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf otf svg) {
  $src: null;

  $extmods: (eot: "?",
    svg: "#" + str-replace($name, " ", "_"));

  $formats: (otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)),
      comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@mixin font($font-size: 16px, $line-height: 120%, $font-weight: 400, $font-style: normal, $font-family: inherit) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  font-style: $font-style;
}

@mixin mobile {
  @media (max-width: 767px) { @content; }
}

@mixin scrollbar () {
  scrollbar-width: thin;
  scrollbar-color: rgba(var(--primary));

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    opacity: 0;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 16px;
    width: 4px;
    background: rgba(var(--primary));
  }
}
