:root {
  --primary: 79, 70, 229;
  --black: 26, 20, 35;
  --black-transparent: 0, 0, 0, 0.4;
  --white: 251, 251, 251;
  --light-gray: 245, 243, 245;
  --gray: 117, 117, 117;
  --links: 63, 142, 252;
  --error: 255, 89, 94;
  --success: 44, 218, 157;
  --transition: 0.2s ease-out;
  --z-index-modal: 100;
}
